/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting up */
:root {
    font-size: 62.5%;
}

html, body {
    width: 34rem;
}

body {
    font-size: 1.6rem;

    padding-block: 0.8rem;
    padding-inline: 1.6rem;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

/* Layout */
#toggleExtension {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

#toggleExtension::before {
    content: "";
    display: inline-block;
    width: 3.4rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    background-color: hsl(0, 0%, 70%);
    transition: 0.3s;
}

#toggleExtension.active::before {
    background-color: hsla(214, 78%, 58%, 0.7);
}

#toggleExtension::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 50%);
    transition: 0.3s;
}

#toggleExtension.active::after {
    transform: translateX(100%);
    background-color: hsl(214, 78%, 58%);
}

#displayExtensionCurrentState {
    display: inline-block;
    margin-bottom: 0.8rem;
}

#submitButton {
    margin-bottom: 0.8rem;
}

#websitesToBlockList {
    border: 0.1rem solid black;
}

#websitesToBlockList .websiteURL {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#websitesToBlockList .websiteURL .removeWebsiteButton {
    cursor: pointer;
    color: red;

    border: none;
    background-color: transparent;
}